.container{
  width: auto;
}
#sidebar{
  background-color:#1e2e3f;
}
.logo{
  text-align: center;
}
.links{
  height: 140vh;
}
.links a{
  color: #fff;
}
.upgrade{
padding-bottom: 50px;
}
#searchPhotos{
  height: 100%;
}
.search{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-bottom: solid #faf4f4 1px;
}
.search input{
  border: 0px;
}
.dropdown{
  float: right;
}
.glyphs{
  float: left;
  padding-left: 25px;
}
.glyphs p{
  display: none;
}
.butts{
  float: right;
  display: inline-block;
}
#butts{
  color: #fff;
  background-color: #1e2e3f;
  box-shadow: 0px;
  border-radius: 5px
}
.photos h2{
  font-size: 40px;
  font-weight: 100;
  font-family: sans-serif;
  font-style: normal;
  padding-left: 25px;
}
#row1{
  height: 270px;
  border-bottom: solid #D5D5D4 1px;
}
#content{
  padding-top: 50px;
}
.images{
  height: 300px;
}
.images:hover {
  background-color: #1e2e3f;
  opacity: 0.8;
}
.images:hover p{
  color: #fff;
}
p{
  padding-top: 20px;
  padding-left: 10px;
}
.storage{
  color: #fff;
}
.bar{
  width: 100%;
  background-color: #D5D5D4
}
#bar{
  width:50%;
  height: 5px;
  background-color: blue;
}
.upgrade{
  color: #fff;
  text-align: center;
}
.btn{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #1e2e3f;
  border: solid blue 1px;
}
